
body,html,.container{
	width:100%;
	height:100%;
	background: #eeeeef;
}
section{
	width:100%;
	position:absolute;
	top:50px;
	bottom:60px;
	display: -webkit-box;
	-webkit-box-flex: 1;
	
}
section .banner{
	width:100%;
}
section dl{
	width:100%;
	background: #fff;
}
section dl dt img{
	width:100%;
	display: block;
}
section dl dd{
	border-bottom:1px solid #f2f2f2;
	padding:10px 20px;
}
section dl dd p{
	font-size: 12px;
	text-indent: 24px;
	line-height: 22px;
}
.text p{
	margin-top:40px;
	text-align: center;
	font-size: 19px;
}
.text p input{
	border-bottom: 2px;
	border:none;
	background: none;
	font-size: 14px;
	outline: none;
	text-align: center;
}
.text p:last-child{
	width:280px;
	margin:0 auto;
	background: #fb5f5b;
	margin-top:20px;
	padding:5px;
	border-radius: 5px;
	color: #fff;
}
footer{
	width:100%;
	height:56px;
	position:fixed;
	bottom:0;
	left:0;
	line-height: 56px;
	display: -webkit-box;
	color:#4E4C4D;
	background: #FFFFFF;
	}
footer>dl{
	-webkit-box-flex:1;
	line-height: 15px;
	text-align: center;
	margin-top:5px;
	}
footer>dl dt img{
	width:30px;
	height:29px;
}		
footer a{
	text-decoration: none;
	color:#828080;
}
