
html{
	font-size: 62.5%;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
	display: block;
}

html,body{
	width:100%;
	height:100%;
	display: -webkit-box;
	-webkit-box-flex:1;
}
.container{
	-webkit-box-flex:1;
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.header{
	width:100%;
	height:50px;
	background: #00CB4B;
	display: -webkit-box;
	line-height: 50px;
}
.header a{
	margin:0px 10px;
}
.header img{
	width:20px;
	margin-top: 16px;
}
.header p{
	-webkit-box-flex: 1;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
}
.section{
	-webkit-box-flex:1;
	overflow-y:scroll;
}
.bg{
	background: #EEEEF0;
}
.padding{
	padding:10px 20px;
	-webkit-box-sizing:border-box;
}
.sort_evaluate{
	width:100%;
	background: white;
	margin-bottom: 8px;
	border-bottom: 1px solid #D8D8D8;
}
.sort_evaluate li{
	height:32px;
	line-height: 32px;
	display: -webkit-box;
}
.sort_evaluate li h2{
	font-size: 12px;
	margin-right: 12px;
}
.sort_evaluate li ol{
	-webkit-box-flex:1;
	font-size: 12px;
	display: -webkit-box;
}

.sort_evaluate li ol li{
	width:23px;
	height:23px;
	background: url(../icon/灰星-大.png) no-repeat;
	background-size: 23px;
	margin-left: 10px;
	margin-top: 4px;
}

.sort_evaluate li ol li.current{
	background: url(../icon/一星.png) no-repeat;
	background-size: 23px;
}

.remark{
	width:100%;
	padding-bottom: 10px;
	padding-top: 0;
	background: white;
	font-size: 12px;
	margin-bottom: 8px;
	border-top:1px solid #D8D8D8;
}

.remark h2{
	height:30px;
	line-height: 30px;
	border-bottom: 1px solid #D8D8D8;
}

.remark textarea{
	padding-top: 10px;
	border:none;
	width:100%;
	outline:none;
	-webkit-appearance:none;
	line-height: 1.5;
}

.surplus_number{
	font-size: 10px;
	text-align: right;
	color:#C9C9CB;
}

.uploading_photo_box{
	padding: 10px 20px;
	background: white;
	border-top:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	display: -webkit-box;
}

.uploading_btn{
	width:65px;
	height:65px;
	border:1px dashed #ccc;
	background: url(../icon/添加照片.png) no-repeat 5px ;background-size: 1%; 
	background-size:60% auto; 
}

.uploading_photo_box input{
	width:65px;
	height:65px;
	opacity: 0;
	position: absolute;
}

.uploading_photo_box h2{
	line-height: 65px;
	height:65px;
	margin-left: 15px;
}

.share_url{
	width:100%;
	display: -webkit-box;
}
.share_url p{
	line-height: 40px;
	height:40px;
	padding:0 20px;
}
.share_url a{
	width:25px;
	height:25px;
	display: block;
	margin-right: 8px;
	margin-top: 6px;
}
.share_url .tweet{
	background:url(../icon/图标-77.png) no-repeat;
	background-size: 100% auto;
}
.share_url .wechat{
	background:url(../icon/图标-78.png) no-repeat;
	background-size: 100% auto;
}
.share_url .qq{
	background:url(../icon/图标-79.png) no-repeat;
	background-size: 100% auto;
}

.submit_btn{
	width:100%;
	padding: 10px 20px;
}
.submit_btn input{
	width:100%;
	height:35px;
	line-height: 35px;
	background: #F8B617;
	font-size: 14px;
	color:white;
	border-radius: 6px;
	border:none;
	outline: none;
}