html{
	font-size: 62.5%;
}
html,body,.container{
	width:100%;
	height:100%;
	background: #f2f2f2;
	padding:0;
	overflow-x: hidden;
}
header{
	height:50px;
	width:100%;
	background: #00cc4e;
	display:-webkit-box;
	line-height: 50px;
	position:fixed;
	top:0;
	padding:0 10px;
	z-index: 99;
}
header a img{
	width:20px;
	margin-bottom:2px;
}
header p{
	-webkit-box-flex: 1;
	text-align: center;
	font-size:1.5rem;
	font-weight: bold;
	color:#fff;
}
section {
	width:100%;
	position:absolute;
	top:50px;
}

.content{
	background: #fff;
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}
/*.form-horizontal input{
	border:none;
	outline: none;
}*//*隐藏input边框*/
.form-horizontal .col-xs-2{
	width:73px;
	display: block;
	color:#00CC4E;
}

.form-horizontal button{
	border:none;
	outline:none;
	padding:5px;
	background: #00CC4E;
	display: block;
	border-radius: 5px;
	width: 80px;
	color:#fff;
}
.form-horizontal .col-xs-3{
	border-radius: 5px;
}
.form-horizontal .btn{
	padding: 0;
}
.form-horizontal .phone{
	margin:10px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
}
.form-horizontal .proving{
	margin:10px;
	padding: 0;
}
.form-horizontal .form-group .col-xs-6{
	padding: 0;
}
.form-horizontal .Submit{
	margin:20px 10px 0px 10px;
}
.form-horizontal .Submit button{
	background: #F8B616;
	color: #fff;
	font-weight: bold;
}
.form-horizontal label{
	line-height: 30px;
}
#errMsg{
	color:red; margin-left: 20%;
}




