


html{
	font-size: 62.5%;
}
html,body.container{
	width:100%;
	height:100%;
}
header{
	width:100%;
	height:50px;
	background: #00CB4B;
	line-height:50px;
	padding:0 10px;
	display: -webkit-box;
}
header p{
	-webkit-box-flex: 1;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
}
header a img{
	width:20px;
	margin-top:16px;
}
section {
	width:100%;
}
section p{
	width:130px;
	margin: 0 auto;
	padding:5px 0;
	text-align: center;
	font-size: 1.1rem;
	background: rgba(0,0,0,0.2);
	border-radius: 15px;
	margin-top: 10px;
}

section dl{
	width:90%;
	margin: 0 auto;
	margin-top: 10px;
	display: -webkit-box;
}
section dl dt{
 	width:47px;
 	height:47px;
 }
section dl dt img{
 	width:100%;
 }
 section dl dd{
 	-webkit-box-flex: 1;
 }
section  dl:nth-child(2) dd p{
	
	width:90%;
	-webkit-border-image:url(../icon/90后信用-31.png)41 25 47 31/13px;
}

section dl:nth-child(3) dd p{
	width:90%;
	-webkit-border-image:url(../icon/90后信用-32.png)41 25 47 31/13px;
}

.footer>div{
	width:100%;
	height:50px;
	left:100%;
	position:fixed;
	bottom:0px;
	-webkit-transition:transform .5s;
	border-top:1px solid #ccc;
	}
.footer>div.current{
	transform:translate(-100%,0);
	}
.footer{
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;
	border-top:1px solid #ccc;
}  

.footer .one{
	position:fixed;
	bottom:0;
	width:100%;
	height: 50px;
	background: #fff;
	display: -webkit-box;
	display: -moz-box;
	padding:5px 20px 0 20px;
	z-index: 99;
}
.footer .one img{
	width:30px;
}
.footer .one .center{
	-webkit-box-flex: 1;
}
.footer .one .center input{
	width: 100%;
	height:30px;
	border:none;
	border-bottom: 1px solid #ccc;
}
.footer .one .right{
	width:30px;
	background: url(../icon/添加.png) no-repeat;
	background-size: 30px;
}
.footer .one .right input{
	opacity: 0;
}
.footer .one .center img{
	position: absolute;
	right:60px;
}