html{
	font-size: 62.5%;
}
html,body,.container{
	width:100%;
	height:100%;
	background: #f2f2f2;
	padding:0;
	overflow-x: hidden;
}
header{
	height:50px;
	width:100%;
	background: #00cc4e;
	display:-webkit-box;
	line-height: 50px;
	position:fixed;
	top:0;
	padding:0 10px;
	z-index: 99;
}
header a img{
	width:20px;
	margin-top: 14px;
}
header p{
	-webkit-box-flex: 1;
	text-align: center;
	font-size:1.5rem;
	font-weight: bold;
	color:#fff;
}
section{
	width:100%;
	position:absolute;
	top:50px;
}



/*登录框样式*/
form .content{
	border-bottom: 1px solid #ccc;
	border-top:1px solid #ccc;
	background: #fff;
	margin-top: 10px;
}
form input{
	border:none;
	outline: none;
}
.form-horizontal .col-xs-3{
	width:75px;
	color:#00CC4E;
	padding: 0;
	line-height: 34px;
}
.form-horizontal .New{
	margin:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.form-horizontal .New_password{
	margin:10px;
}
.form-horizontal .Submit{
	margin:20px 10px 0px 10px;
}
/*.form-horizontal .Submit input{
	background: #F8B616;
	color: #fff;
	font-weight: bold;
}


*/



