body,
html {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
html {
  font-size: 62.5%;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container{
	width: 100%;
	height:100%;
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient:vertical;
	background-color: #EEEEF0;
	overflow: hidden;
}
.bar-header{
	width: 100%;
	height: 50px;
	background: #00CD4E;
	display: -webkit-box;
	-webkit-box-pack:justify;
	-webkit-box-align:center;
}
.bar-header a,.bar-header span{
	display:inline-block;
	width: 20px
	
}
.bar-header div>span{
	margin-right:.8rem;
}
.bar-header img{
	display: block;
	width: 100%;
	height:100%;
}
.back{
	margin-left:1.0rem;
}
.cont{
	width: 100%;
	height: 100%;
	-webkit-box-flex:1;
	overflow-y:scroll;
}
.swiper-box{
	width: 100%;
}
.swiper-box>img{
	width: 100%;
}
.show-cont{
	height: 5.5rem;
	width: 100%;
	padding:0 1rem;
	display: -webkit-box;
	-webkit-box-align:center;
	border-bottom: 1px solid #BDBDBD;
	background-color: #fff;
}
.price{
	-webkit-box-flex:1;
	color: #C8C9CB;
	position: relative;
}
.price img{
	width:40px;
	position:absolute;
	top:-13px;
	left:8px
}
.show-cont .price span{
	font-size:2.7rem;
}
.show-info{
	-webkit-box-flex:1;
}
.show-info>p span{
	display: inline-block;
	
}
.show-info .title{
	font-size: 1.6rem;
	color: #717171;
}
.show-info>p{
	line-height: 1.8rem;
}
.show-info>p:nth-child(1){
	color: #999999;
}
.show-info .star{
	display: inline-block;
	padding-right: 1rem;
	width: 6rem;
	height: 1rem;
}
.show-info .jia{
	color: #00CB4D;
}
.show-info>p img{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: .3rem;
}
.show-info .sheng,.show-info .jia{
	float: right;
}
.mothed{
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	padding:0 1rem;
	margin-top: 1rem;
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.cont-mothed{
	color: #00CB4D;
	line-height: 3rem;
	border-bottom: 1px solid #BDBDBD;
}
.cai-count{
	-webkit-box-flex:1;
	-webkit-box-align:center;
	display: -webkit-box;
	padding:1rem 0;
}
.cai-count .cai{
	-webkit-box-flex:1;
	line-height: 1.7rem;
	color: #A3A3A3;
}
.cai-count .cai>span{
	display: inline-block;
}
.cai-count .cai>span>b{
	font-weight: normal;
}
.cai-count>button{
	-webkit-box-flex:1;
	display: inline-block;
	height: 3rem;
	border: none;
	outline: none;
	background: #A3A3A3;
	color: #fff;
	border-radius: 5px;
}
.yuyue-notice{
	padding: 0 1rem;
	color: #00CB4D;
	background: #fff;
	margin-top: 1rem;
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
}
.yuyue-notice>ul>li{
	margin-top: .5rem;
	color:#BDBDBD;
}
.yuyue-notice>ul>li:last-child{
	padding-bottom:1rem;
}
.yuyue-notice>ul p{
	line-height: 1.5rem;
}
.yuyue-notice p>span{
	margin-right: 1rem;
}


.shou{
	position: relative;
}

.shou  label{
	width:30px;
	height:30px;
	display: block;
	background: url(../icon/image-05.png) no-repeat center center;
	background-size: 100%;
	
}
.shou input{
	position: absolute;
	top:15px;
	width:30px;
	height:20px;
	opacity: 0;
}

.shou input:checked+label{
	background:url(../icon/image-04.png) no-repeat center center;
	background-size:100%;
}

.yuyue-button{
	padding: 1.2rem 1rem;
}

.btn{
	display: inline-block;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background: #F8B617;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

/*正在预定弹出框*/
.model-2{
	width: 90%;
	position: fixed;
	top:50%;
	left: 5%;
	z-index: 100;
	background: #fff;
	border-radius: 5px;
	margin-top: -14rem;
	padding: 1rem;
}
.model-2 .cont-mothed{
	color: #BDBDBD;	
}
.model-2 p>span{
	display: inline-block;
	line-height: 2rem;
}
.model-2 .dian{
	color: #F8C035;
}
.model-2>h2{
	line-height: 2.5rem;
	color: #01CC4F;
}
.model-2 .tit{
	color: #01CC4F;
}
.yuyue-right{
	width: 100%;
	display: -webkit-box;
	margin-top: 1.5rem;
}
.model-2 .yuyue-right>a{
	display: inline-block;
	display: -webkit-box;
	-webkit-box-flex:1;
	height: 3rem;
	-webkit-box-pack: center;
	line-height: 3rem;
	background: #F8B617;
	border-radius: 5px;
	color: #fff;
}
.model-2 .yuyue-right>a.red{
	background: #E50112;
}
.yuyue-right>a:last-child{
	margin-left: 1rem;
}
/*遮罩层*/
#model_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	background: #000;
	opacity:0.5;
	display: none;
}



