body,html.container{
	width:100%;
	height:100%;
	background: #eeeeef;
}
html{font-size: 62.5%;}
.header {
  width: 100%;
  height: 50px;
  background: #00CD4E;
  display: -webkit-box;
  line-height: 50px;
  padding:0 10px;
  line-height:50px;
}
.header p{
	-webkit-box-flex: 1;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
}

.header a img{
	width:20px;
	margin-top:14px;
}
.header a:last-child img{
	margin-top:23px;
}
.header span:first-child{
	padding-left: 10px;
}
section {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
section ul{
	width:90%;
	margin: 0 auto;
	
}

section ul li{
	display: -webkit-box;
	padding:15px 0px;
	background: #fff;
	color: #7c7b7c;
	border-bottom: 1px solid #ccc;
}
section ul li input{
	background: url(../icon/箭头-向右.png) no-repeat right;
	-webkit-box-flex: 1;
	width:100%;
	display: block;
	border:none;
	outline: none;
	text-align:right;
	padding-right:20px;
}
section ul li:last-child{
	border:none
}
section ul li p{
	width:100px;
	height:20px;
}
.btn p{
	background:#fff;
	padding: 15px 10px;
	margin-top:20px;
	-webkit-box-flex: 1;
	width:100%;
}
.btn a{
	text-decoration: none;
	color: #7c7b7c;
}
.btn span img {
	float: right;
	width:10px;
}



















