


html{
	font-size: 62.5%;
}
html,body,.container{
	width:100%;
	height:100%;
	background: #EEEEF0;
}
header{
	width:100%;
	height: 50px;
	background: #00CB4B;
	display: -webkit-box;
	line-height: 50px;
	padding:0 10px;
}
header p{
	color:#fff;
	-webkit-box-flex: 1;
	font-size: 1.4rem;
	line-height: 50px;
	text-align: center;
}
header a img{
	width:20px;
	margin-top: 16px;
}
section {
	width: 100%;
}
section h6{
	font-size: 1.5rem;
    color: #848484;
    font-weight: bold;
    background: #fff;
    padding:15px;
    border-bottom: 1px solid #ccc;
}
section h6 input{
	border: none;
	outline: none;
}
section h6:last-child input{
	width:80px;
	border: none;
	outline: none;
}
section h6:last-child span{
	float: right;
	font-weight: normal;
	padding:0 30px;
	background: url(../icon/insert.png) no-repeat right;
	background-size: 17px;
	border-left:2px solid #ccc;
	position: relative;
}
section h6:last-child span input{
position: absolute;
right: 0px;
opacity: 0;
}
.p{
	padding:8px 10px;
	line-height:24px;
}
.content{
	width:100%;
	background: #fff;
}
.list{
	width:90%;
	margin:0 auto;
	margin-top: 10px;
	display: -webkit-box;
}
.list p{
	width:100%;
}
.list p:first-child{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width:40px;
	font-size: 1.5rem;
}
.list p textarea{
	display: inline-block;
	width:85%;
	height:108px;
}.up_btn{
	width:90%;
	margin: 0 auto;
	display: -webkit-box;
}
.up_btn img{
width:43px;
height:43px;
display: block;
margin-left:40px;
}
.up_btn input{
	width:43px;
	height:43px;
	opacity: 0;
	position: relative;
}
.up_btn a{
	width:43px;
	height:43px;
	display: block;
	margin-left: 5px;
	border:1px dashed #ccc;
	background: url(../icon/insert.png) no-repeat center center;
	background-size: 40px;
	
}
.up_btn p{
	display: block;
	padding:10px;
	background: #00CB4B;
	color:#fff;
	-webkit-box-pack: end;
	margin-left: 30px;
	border-radius: 5px;
}

.btn{
	width:90%;
	margin:0 auto;
}
.btn button{
	width:100%;
	padding:10px 0;
	border:none;
	border-radius: 5px;
	margin-top:5px;
	color: #fff;
	font-size: 1.5rem;
}

.btn2{
	background: #f8b616;
}





















