html,body.container{
	width: 100%;
	height:100%;
	background: #f5f5f9;
}
header{
	width:100%;
	height:50px;
	background: #00CB4B;
	display: -webkit-box;
	padding:0 10px;
	line-height: 50px;;
	
	}
header a img{
	width:20px;
	margin-top: 16px;
}
header p{
	-webkit-box-flex: 1;
	text-align: center;
	color: #fff;
}
section {
	position:absolute;
	top:50px;
	width:100%;
}
section a{
	text-decoration: none;
	color: #595757;
	display: block;
	margin-top:10px
}

section a dl{
	width: 100%;
	padding:10px 10px;
	display: -webkit-box;
	border-bottom: 1px solid #dadadd;
	border-top:1px solid #dadadd;
	background: #fff;
	
}
section a:first-child{
	margin-top: 0;
}

section dl dt{
	width:47px;
	height:47px;
	margin-right: 10px;
}
section dl dt img{
	width: 100%;
	
	display: block;
}
section dl dd{
	-webkit-box-flex: 1;
	line-height: 22px;
}
section dl dd span{
	float: right;
}
section dl dd h6{
	font-size: 14px;
}
section dl dd p{
	font-size: 1.0rem;
	color: #b9b9ba;
}

section dl dd img{
	width:14px;
}

















